@charset: utf-8;
body {
background-color:black;
color:#eeeeee;
}
.container {
width:650px;
margin:0 auto;
}
.picture {
   background-color:FFFFFF;
  /* for IE */
  filter:alpha(opacity=50);
  /* CSS3 standard */
  opacity:0.5;
  /* for Mozilla, Firefox */
  -moz-opacity:0.5;
  
  padding:0 auto;
}
.picture:hover {
   background-color:FFFFFF;
  /* for IE */
  filter:alpha(opacity=100);
  /* CSS3 standard */
  opacity:1;
  /* for Mozilla, Firefox */
  -moz-opacity:1;
}

footer {
margin-bottom:200px;
text-align:center;
}
footer ul li {
width: 100px;
display: inline-block;
}
a {
color:gray;
}
a:hover {
color:white;
}
