@charset: utf-8;
body {
background-color:black;
color:#eeeeee;
}
.container {
width:650px;
margin:0 auto;
}
.picture {
   background-color:FFFFFF;
  /* for IE */
  filter:alpha(opacity=50);
  /* CSS3 standard */
  opacity:0.5;
  /* for Mozilla, Firefox */
  -moz-opacity:0.5;
}
.title {
text-align:center;
padding-left:60px;
margin-bottom:120px;
}
section {
margin-bottom: 60px;
}
.title-img {
text-align:justify;
}
.section-title {
background-image:url('line.png') ;
background-repeat:no-repeat;
background-position: left bottom;
}
footer {
margin-bottom:200px;
text-align:center;
}
footer ul li {
width: 100px;
display: inline-block;
}
a {
color:gray;
}
a:hover {
color:white;
}
